*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: blue;
    width: 100%;
    height: 70px;
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    border-left: 45px;  
}

